.Book {
    font-size: 15px;
    display: inline-block;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    margin: 5px;
    padding: 10px;
    max-width: 250px;
}

.Book > span {
    display: block;
    margin: 15px;
} 

.Delete {
    color: red;
    margin: 10px;
}

.Description .Location{
    font-size: 8px;
}

.Delete:hover {
    color: rgb(148, 16, 16)
}

@media (max-width: 600px) {
    /* For desktop: */
    .Book {
        max-width: 90%;
    }
}